<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
    <!-- <link rel="stylesheet"  href="./styles.css" /> -->
  </head>
  
  <body>
	  <table>	
		  <tr> 
		  <a href="/img/kitten1"><img  src= /img/kitten1.jpg ></a>
		  <a href="/img/kitten2"><img  src= /img/kitten2.jpg ></a>
		  <a href="/img/kitten3"><img  src= /img/kitten3.jpg ></a>
	  	  </tr>
		  <tr> 
		  <a href="/img/puppy1"><img  src= /img/puppy1.jpg ></a>
		  <a href="/img/puppy2"><img  src= /img/puppy2.jpg ></a>
		  <a href="/img/puppy3"><img  src= /img/puppy3.jpg ></a>
	  	  </tr>
		  
	  </table>
  </body>
</html>
